<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">

        <a class="navbar-brand" href="#">
            Student Management System
        </a>

        <div>

            <a class="btn btn-light me-2">
                Home
            </a>

            <a class="btn btn-warning">
                Students</a>

            <a href="{% url 'home' %}" class="btn btn-light me-2">Home</a>

            <a href="{% url 'student_list' %}" class="btn btn-warning me-2">Students</a>

            <a href="{% url 'add_student' %}" class="btn btn-success">Add Student</a>

        </div>

    </div>
</nav>